{{ define "main" }}

{{ $currentYear := now.Format "2006" }}
{{ $currentYearMovies := 0 }}

{{ range .Site.Data.movies }}
  {{ if eq ( dateFormat "2006" .Date ) $currentYear }}
    {{ $currentYearMovies = add $currentYearMovies 1 }}
  {{ end }}
{{ end }}

<section class="tickets" id="content">
  <header class="full-height center-content tickets__header">
    <h1 id="ticket-list">Tickets</h1>
  </header>

  <div class="full-height center-content tickets__count">
    <h2>Number of tickets: {{ len .Site.Data.movies }}</h2>
  </div>

  <span>Movies watched in {{ $currentYear }}: {{ $currentYearMovies }}</span>

  <ul class="unstyled-list grid grid--three-column tickets__list" aria-labelledby="ticket-list">
    {{ range sort .Site.Data.movies "Date" "desc" }}
      <li class="ticket">
        <small>{{ .Theater }}<br /> Presenting</small>
        <header>
          <h3>{{ .Title }}</h3>
        </header>
        <time class="ticket__time" datetime="{{ .Date }}">
          {{ dateFormat "Mon 01/02/2006" .Date }}
        </time>
        <small class="ticket__unix" aria-hidden="true">{{ mul 1000 (time .Date).Unix }}</small>
      </li>
    {{ end }}
  </ul>

</section>

{{ end }}
