{{ define "main" }}

{{ $startYear := 2007 }}
{{ $currentYear := now.Format "2006" }}
{{ $totalYears := sub (int $currentYear) $startYear }}
{{ $currentYearMovies := 0 }}
{{ $totalSpent := 0.00 }}
{{ $theaters := slice }}

{{ range .Site.Data.movies }}

  {{ $totalSpent = add $totalSpent (float .Price) }}

  {{ if eq ( dateFormat "2006" .Date ) $currentYear }}
    {{ $currentYearMovies = add $currentYearMovies 1 }}
  {{ end }}

  {{ $theaters = $theaters | append (string .Theater) | uniq }}

{{ end }}

<section class="tickets" id="content">
  <div class="tickets__hero grid">
    <div class="tickets__left center-content">
      <span class="tickets__barcode barcode" aria-hidden="true">This is a Test</span>
    </div>
    <div class="tickets__grid center">

      <span>{{ .Params.subTitle }}</span>

      <header class="tickets__header">
        <h1 id="ticket-list">{{ .Title }}</h1>
      </header>

      <dl class="tickets__stats grid">
        <div>
          <dt>Years</dt>
          <dd class="h2">{{ $totalYears }}</dd>
        </div>
        <div>
          <dt>Theaters Visited</dt>
          <dd class="h2">{{ len $theaters }}</dd>
        </div>
        <div>
          <dt>Tickets Collected</dt>
          <dd class="h2">{{ len .Site.Data.movies }}</dd>
        </div>
      </dl>

    </div>
    <div class="tickets__right center-content">
      <span aria-hidden="true">Admit One</span>
    </div>
  </div>

  <!-- <p>I spent ${{ $totalSpent | lang.NumFmt 2 }}</p> -->

  <ul class="unstyled-list grid tickets__list" aria-labelledby="ticket-list">

    {{ range sort .Site.Data.movies "Date" "desc" }}

      <li class="ticket">

        {{ partial "ticket.html" . }}

      </li>

    {{ end }}

  </ul>

</section>

{{ end }}
