{{ define "main" }}

{{ $year2020 := 0 }}

{{ range .Site.Data.movies }}
  {{ if eq ( dateFormat "2006" .Date ) "2020" }}
    {{ $year2020 = add $year2020 1 }}
  {{ end }}
{{ end }}

<section class="tickets">
  <header>
    <h1>Tickets</h1>
  </header>

  <h2>Number of movies: {{ len .Site.Data.movies }}</h2>

  <span>Movies watched in 2020: {{ $year2020 }}</span>

  <ul class="unstyled-list grid grid--three-column tickets__list">
    {{ range sort .Site.Data.movies "Date" "desc" }}
      <li class="ticket">
        <small class="ticket__location">{{ .Theater }} Presents</small>
        <h3>{{ .Title }}</h3>
        <time class="ticket__time">{{ dateFormat "Mon 01/02/2006" .Date }}</time>
      </li>
    {{ end }}
  </ul>

</section>

{{ end }}
