{{ define "main" }}

  <article>

    <div class="container">

      <header>
        <h1>{{ .Title }}</h1>

        <span>
          Published on
          <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
            {{ .PublishDate.Format "January 2, 2006" }}
          </time>
        </span>

      </header>

      {{ .Content }}

      <footer>

        {{ range .Params.categories }}
          <small>{{ . }}</small>
        {{ end }}

      </footer>

    </div>
  </article>

{{ end }}
