{{ define "title" }} {{ .Title }} - {{ .Site.Title }} {{ end }} {{ define "main"
}} {{ $startYear := 2007 }} {{ $currentYear := now.Format "2006" }} {{
$totalYears := sub (int $currentYear) $startYear }} {{ $theaters := len
.Site.Taxonomies.theaters }} {{ $totalTickets := len .Site.RegularPages }}

<main id="content">
  <section class="hero">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </section>

  <section class="section-padding">
    <div class="container grid row-gap gsap-fade-in">

      {{ $pageCount := len .Pages }}

      <div class="flex align-center space-between row-style">

        {{ if and (eq .Kind "taxonomy") (eq .Type "theaters") }}
          <h2>Breakdown by Theater</h2>
          <div><span class="highlight" data-counter data-value="{{ $pageCount }}"></span> Theaters</div>
        {{ end }}

        {{ if and (eq .Kind "taxonomy") (eq .Type "ratings") }}
          <h2>Breakdown by Rating</h2>
          <div><span class="highlight" data-counter data-value="{{ $pageCount }}"></span> Ratings</div>
        {{ end }}

        {{ if eq .Kind "term" }}

          <h2>Tickets Collected</h2>
          <div><span class="highlight" data-counter data-value="{{ $pageCount }}"></span> Tickets</div>

        {{ end }}

      </div>

      <ol class="unstyled-list grid ticket-list">
        {{ range .Pages }}

        <li class="ticket-list__item">
          {{ if isset .Params "date" }} {{ .Render "ticket" }} {{ else }} {{
          .Render "taxonomy-card" }} {{ end }}
        </li>

        {{ end }}
      </ol>
    </div>
  </section>
</main>

{{ end }}
