<div class="ticket relative">
  <div class="ticket__article flex">

    <div class="grid ticket__content">

      <h3 class="ticket__headline">{{ .Title }}</h3>

      {{ $location := "" }}

      {{ if or (eq .Title "Marquette Cinemas") (eq .Title "Carmike Royal Cinema 10") (eq .Title "Delft Theatre") }}
        {{ $location = "Marquette, Michigan" }}
      {{ else if eq .Title "Konsertpaleet" }}
        {{ $location = "Bergan, Norway" }}
      {{ else if eq .Title "TOHO Cinemas Shinjuku" }}
        {{ $location = "Tokyo, Japan" }}
      {{ else if eq .Title "Cinemark Tinseltown Grapevine" }}
        {{ $location = "Grapevine, Texas" }}
      {{ else if eq .Title "AMC Empire 25" }}
        {{ $location = "New York, New York" }}
      {{ else if eq .Title "Sambio Egilsholl" }}
        {{ $location = "Reykjavik, Iceland" }}
      {{ else if eq .Title "Regal Entertainment Group" }}
        {{ $location = "Appleton, Wisconsin" }}
      {{ else if eq .Title "Century Theaters Next Gen" }}
        {{ $location = "Tucson, Arizona" }}
      {{ end }}

      <small class="ticket__theater">

        {{ if $location }}
          <span class="visually-hide">Located in</span>
          {{ $location }}
        {{ else }}
          Rated
        {{ end }}

      </small>

    </div>

    {{ if not (isset .Params "date") }}
      <a class="ticket__link" href="{{ .Permalink }}" aria-label="View {{ .Title }}"></a>
    {{ end }}

  </div>
</div>
