<div class="ticket__article">

  <div class="ticket__content">

    <h3>{{ .Title }}</h3>

    {{ with .Params.theaters }}
      <small class="ticket__theater">
        <span class="visually-hide">Ticket purchased at</span>
        {{ range . }}
          {{ . }}<br>
        {{ end }}
        <span aria-hidden="true">Presenting</span>
      </small>
    {{ end }}

    <ul class="unstyled-list">

      {{ with .Params.date }}
        <li>
          <span class="visually-hide">Ticket purchased on</span>
          <time
            class="ticket__time"
            datetime="{{ dateFormat "2006-01-02" . }}"
          >
            {{ dateFormat "Mon 01/02/2006" . }}
          </time>
        </li>
      {{ end }}

      {{ with .Params.price }}
        <li>
          <span class="visually-hide">The ticket cost</span>
          <small class="ticket__price">${{ . }}</small>
        </li>
      {{ end }}

      {{ with .Params.ratings }}
        <li class="ticket__rating">
          <span class="visually-hide">
            The movie is rated
          </span>
          {{ range . }}
            {{ . }}
          {{ end }}
        </li>
      {{ end }}

    </ul>

  </div>

  <div aria-hidden="true">
    <span class="ticket__barcode barcode">
      {{ range shuffle (seq 8) }} {{.}} {{ end }}
    </span>
  </div>

  {{ if not .Params.date }}
    <a
      class="ticket__link"
      href="{{ .Permalink }}"
      aria-label="View {{ .Title }}"
    >
    </a>
  {{ end }}

</div>
