<div class="ticket__article">

  <div class="ticket__content">

    <h3>{{ .Title }}</h3>

    {{ if .Params.theaters }}
      <small class="ticket__theater">
        <span class="visually-hide">Ticket purchased at</span>
        {{ range .Params.theaters }}
          {{ . }}<br>
        {{ end }}
        <span aria-hidden="true">Presenting</span>
      </small>
    {{ end }}

    <ul class="unstyled-list">

      {{ if .Params.date }}
        <li>
          <span class="visually-hide">Ticket purchased on</span>
          <time class="ticket__time" datetime="{{ dateFormat "2006-01-02" .Params.date }}">
            {{ dateFormat "Mon 01/02/2006" .Params.date }}
          </time>
        </li>
      {{ end }}

      {{ if .Params.price }}
        <li>
          <span class="visually-hide">The ticket cost</span>
          <small class="ticket__price">${{ .Params.price }}</small>
        </li>
      {{ end }}

      {{ if .Params.ratings }}
        <li class="ticket__rating">
          <span class="visually-hide">The movie is rated </span>
          {{ range .Params.ratings }}
            {{ . }}
          {{ end }}
        </li>
      {{ end }}

    </ul>

  </div>

  <div aria-hidden="true">
    <span class="ticket__barcode barcode">{{ range $index, $num := shuffle (seq 14) }} {{- $num -}} {{ end }}</span>
  </div>

  {{ if not (isset .Params "date") }}
    <a class="ticket__link" href="{{ .Permalink }}" aria-label="View {{ .Title }}"></a>
  {{ end }}

</div>
