{{ $startYear := 2007 }} {{ $currentYear := now.Format "2006" }} {{ $totalYears
:= sub (int $currentYear) $startYear }} {{ $theaters := len
.Site.Taxonomies.theaters }} {{ $totalTickets := len .Site.RegularPages }}

<section class="hero grid">
  <div class="container hero__center grid">
    <h1 class="visually-hide">{{ .Title }}</h1>

    <div>{{ partial "graphic" }}</div>

    <ul class="unstyled-list hero__stats flex">
      <li class="flex hero__stats-item hero__stats-item--left">
        <h2>Years</h2>
        <div
          class="hero__stat-value highlight"
          data-counter
          data-value="{{ $totalYears }}"
        >
          0
        </div>
      </li>
      <li class="flex hero__stats-item hero__stats-item--center">
        <h2>Theaters</h2>
        <div class="hero__stat-value highlight" data-counter data-value="{{ $theaters }}">
          0
        </div>
      </li>
      <li class="flex hero__stats-item hero__stats-item--right">
        <h2>Tickets</h2>
        <div
          class="hero__stat-value highlight"
          data-counter
          data-value="{{ $totalTickets }}"
        >
          0
        </div>
      </li>
    </ul>
  </div>
</section>
