{{ define "title" }} 404 - {{ .Site.Title }} {{ end }} {{ define "main" }}

<main id="content">
  <section>
    <div class="container">
      <h1>Page not found</h1>

      <p>
        Please open an issue on the
        <a href="https://github.com/jacobproffer/tickets/issues" rel="noopener"
          >Tickets GitHub repository</a
        >
        to let me know which page you're trying to find. Alternatively, you can
        <a href="{{ .Site.BaseURL }}">return to the home page</a> of this site.
      </p>
    </div>
  </section>
</main>

{{ end }}
