{{ define "main" }}

{{ $startYear := 2007 }}
{{ $currentYear := now.Format "2006" }}
{{ $totalYears := sub (int $currentYear) $startYear }}
{{ $currentYearMovies := 0 }}
{{ $totalSpent := 0.00 }}
{{ $theaters := slice }}

{{ range .Site.Data.movies }}

  {{ $totalSpent = add $totalSpent (float .Price) }}

  {{ if eq ( dateFormat "2006" .Date ) $currentYear }}
    {{ $currentYearMovies = add $currentYearMovies 1 }}
  {{ end }}

  {{ $theaters = $theaters | append (string .Theater) | uniq }}

{{ end }}

<section class="hero grid gray-background">

  <div class="hero__left center-content">
    <span class="hero__barcode barcode" aria-hidden="true">This is a Test</span>
  </div>

  <div class="hero__center center">

    <span>{{ .Site.Params.subTitle }}</span>

    <header>
      <h1>{{ .Title }}</h1>
    </header>

    <dl class="hero__stats grid">
      <div class="gray-background">
        <dt>Years</dt>
        <dd class="h2">{{ $totalYears }}</dd>
      </div>
      <div class="gray-background">
        <dt>Theaters</dt>
        <dd class="h2">{{ len $theaters }}</dd>
      </div>
      <div class="gray-background">
        <dt>Tickets</dt>
        <dd class="h2">{{ len .Site.Data.movies }}</dd>
      </div>
    </dl>

  </div>

  <div class="hero__right center-content">
    <span aria-hidden="true">Admit One</span>
  </div>

</section>

{{/*  <section>

  <header>
    <h2>Intro</h2>
  </header>

  <p>I spent ${{ $totalSpent | lang.NumFmt 2 }}</p>

</section>  */}}

<section>

  <header class="visually-hide">
    <h2 id="ticket-list">Tickets Collected</h2>
  </header>

  <ul class="unstyled-list grid ticket-list" aria-labelledby="ticket-list">

    {{ range sort .Site.Data.movies "Date" "desc" }}

      <li class="ticket">

        {{ partial "ticket.html" . }}

      </li>

    {{ end }}

  </ul>

</section>

{{ end }}
