.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.flex {
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-gray-background {
  background-color: var(--color-scheme-darker-background);
}

.border-bottom {
  border-bottom: 1px dashed var(--color-scheme-border);
}

.section-padding {
  padding: var(--size-1) 0;
}

.row-gap {
  row-gap: var(--size-1);
}
