:root {
  --black: #14141b;
  --white: #f8f8f2;
  --light-gray: #e5e7dd;
  --dark-gray: #b2d3c9;
  --color-scheme-border: #9fa99d;
  --primary: #b1d9b4;
  --color-scheme-text-color: #302e2d;
  --color-scheme-light-background: var(--light-gray);
  --color-scheme-background: #ddeede;
  --cursive: 'Libre Barcode 128', cursive;
  --mono: 'VT323', monospace;
  --container: 1440px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: var(--color-scheme-text-color);
  background: var(--color-scheme-background);
}

* {
  &:focus {
    outline: 2px dotted var(--black);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  color: var(--color-scheme-text-color);
  background-color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  @include hover {
    outline: dotted 1px var(--color-scheme-border);
  }
}

small,
span {
  display: block;
}

time {
  display: inline-block;
}

dd {
  margin: 0;
}
