:root {
  --black: #302e2d;
  --white: #fff;
  --light-gray: #e5e7dd;
  --gray: #ddeede;
  --border: #9fa99d;
  --primary: #b1d9b4;
  --cursive: 'Libre Barcode 128', cursive;
  --mono: 'VT323', monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background: var(--gray);
}

* {
  &:focus {
    outline: 2px dotted var(--black);
  }
}

body {
  position: relative;
  font-size: 18px;
  color: var(--black);
  background-color: var(--primary);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  &:hover {
    outline: dotted 1px var(--black);
  }
}

small,
span {
  display: block;
}

time {
  display: inline-block;
}

dd {
  margin: 0;
}
