.site-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-1) 0;
  background-color: var(--color-scheme-background);

  a {
    display: block;
    padding: var(--size-1);
    margin: var(--size-0);
    text-decoration: none;

    &[aria-current="page"] {
      outline: 1px dashed var(--color-scheme-border);
    }
  }

  ul {
    display: flex;

    li {
      &:not(:last-of-type) {
        margin-right: var(--size-1);
      }
    }
  }

  &__header-text {
    max-width: 40ch;
    padding: var(--size-1);
    margin: var(--size-0);
    line-height: 1;
    text-wrap: balance;
  }

  &__skip-link {
    position: fixed;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s ease-in-out;

    &:focus {
      top: 0;
    }
  }
}