.site-banner {
  align-items: center;
  justify-content: space-between;
  padding: var(--size-1) 0;
  background-color: var(--color-scheme-background);

  &__list {
    gap: var(--size-1);
  }

  &__link {
    display: block;
    padding: var(--size-1);
    text-decoration: none;

    &[aria-current="page"] {
      background-color: var(--color-scheme-light-background);
      outline: 1px dashed var(--color-scheme-border);
    }

    @include hover {
      outline: 1px dashed var(--color-scheme-border);
    }
  }

  &__header-text {
    max-width: 40ch;
    line-height: 1;
    text-wrap: balance;
  }

  &__skip-link {
    position: fixed;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s ease-in-out;

    &:focus {
      top: 0;
    }
  }
}