.hero {
  background-color: var(--color-scheme-light-background);

  &__center {
    display: grid;
    row-gap: 20px;
    padding: 20px;
  }

  &__stats {
    --x-gap: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: var(--x-gap);
    background-color: var(--color-scheme-border);
    border-top: 1px solid var(--color-scheme-border);
  }

  &__stats-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 make-flex-with-gutter(3);
    background-color: var(--color-scheme-background);

    &--left {
      padding: 20px 20px 20px 0;
    }

    &--center {
      padding: 20px;
    }

    &--right {
      padding: 20px 0 20px 20px;
    }
  }

  &__stat-value {
    font-size: rem(24);
  }
}