.hero {
  padding-top: 102px;

  @include screen-below($mobile) {
    padding-top: 85px;
  }

  &__center {
    width: 100%;
    row-gap: var(--size-1);
    padding: var(--size-1) 0;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--color-scheme-border);

    @include screen-below($portrait) {
      grid-template-columns: 1fr;
    }
  }

  &__stats-item {
    align-items: center;
    justify-content: space-between;

    @include screen-above($portrait) {
      &--left {
        padding: var(--size-1) var(--size-1) var(--size-1) 0;
      }

      &--center {
        padding: var(--size-1);
      }

      &--right {
        padding: var(--size-1) 0 var(--size-1) var(--size-1);
      }

      &--left,
      &--center {
        border-right: 1px solid var(--color-scheme-border);
      }
    }

    @include screen-below($portrait) {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-scheme-border);
      }
    }
  }

  &__stat-value {
    font-size: rem(24);
  }
}