.ticket {
  padding: 20px;
  text-align: center;
  border-top: 1px dashed var(--border);
  border-right: 1px dashed var(--border);

  &__article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__theater {
    order: -1;
  }

  &__time {
    padding: 4px;
    border: 1px solid var(--border);
  }

  &__price {
    margin-top: 14px;
  }

  &__rating {
    margin: 14px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__barcode {
    font-size: 1.5rem;
  }

  &:nth-of-type(odd) {
    background-color: var(--light-gray);
  }

  &:nth-of-type(even) {
    background-color: var(--gray);
  }
}
