.ticket-list {
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-0);

  @include screen-below($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include screen-below($mobile) {
    grid-template-columns: 1fr;
  }
}