.tickets {
  &__hero {
    grid-template-columns: 100px 1fr 100px;
    background-color: var(--gray);
  }

  &__grid {
    grid-template-columns: 100px 1fr;
    padding: 80px 20px;
  }

  &__stats {
    grid-template-areas: "years theaters total""years theaters total";
    grid-gap: 1px;
    background-color: #a8a19e;
    border-top: 1px solid #a8a19e;

    div {
      padding: 20px;
      background-color: var(--gray);
    }
  }

  &__years {
    grid-area: years;
  }

  &__theaters {
    grid-area: theaters;
  }

  &__total {
    grid-area: total;
  }

  &__statement {
    grid-area: statement;
    text-align: left;
  }

  &__left {
    position: relative;
    border-right: 1px dashed #a8a19e;
  }

  &__right {
    border-left: 1px dashed #a8a19e;

    span {
      font-size: 2rem;
      writing-mode: vertical-lr;
    }
  }

  &__barcode {
    width: 26px;
    margin-left: 4px;
    font-size: 2.5rem;
    writing-mode: vertical-rl;
  }

  &__count {
    background-color: var(--gray);
  }

  &__list {
    padding: 20px;
  }
}
