.ticket {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  border-right: 1px dashed #a8a19e;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);

  &__time {
    padding: 4px;
    border: 1px solid #a7a19e;
  }

  &__rating {
    margin: 14px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__barcode {
    font-family: var(--cursive);
    font-size: 1.5rem;
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 125px;
    height: 125px;
    background-color: #a7a19e;
    opacity: .25;
    transform: translate(-50%, -50%);

    &--circle {
      border-radius: 50%;
    }

    &--triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &--default {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
  }

  &:nth-of-type(odd) {
    background-color: var(--light-gray);
  }

  &:nth-of-type(even) {
    background-color: var(--gray);
  }
}
