.tickets {
  &__header {
    padding: 20px;
    background-color: var(--light-gray);
    border: 1px dashed #a7a19e;
  }

  &__count {
    background-color: var(--gray);
  }

  &__list {
    padding: 20px;
  }
}
