<div
  class="main-header bg-black"
  data-header
>

  <div class="container">

    <div class="main-header__grid relative grid">

      <header>

        <a
          class="main-header__skip-link bg-black"
          href="#content"
        >
          Skip to Main Content
        </a>

        <div class="main-header__logo-wrap link-padding">
          <div class="gray">Dead Man's Brew</div> <div>Movie Ticket Collection</div>
        </div>

      </header>

      {{ partial "navigation" . }}

    </div>

  </div>

</div>
