<section class="section-padding">
  <div class="container">
    <h2 class="visually-hide">Tickets Collected</h2>

    <ol class="unstyled-list grid row-gap">
      {{ range (where .Site.RegularPages "Type" "in" (slice
      "tickets")).GroupByDate "2006" }}

      {{ $pageCount := len .Pages }}

      <li class="tickets__ticket-row grid row-gap gsap-fade-in">
        <div class="flex align-center space-between row-style">
          <h2>{{ .Key }}</h2>

          <div><span class="highlight" data-counter data-value="{{ $pageCount }}"></span> Tickets</div>
        </div>

        <ol class="unstyled-list grid ticket-list">
          {{ range .Pages }}

          <li class="ticket-list__item">{{ .Render "ticket" }}</li>

          {{ end }}
        </ol>
      </li>

      {{ end }}
    </ol>
  </div>
</section>
