<section class="tickets">

  <div class="container">

    <h2 class="visually-hide">Tickets Collected</h2>

    <ul class="unstyled-list">

      {{ range (where .Site.RegularPages "Type" "in" (slice "tickets")).GroupByDate "2006" }}

        <li>

          <div>
            <h2>{{ .Key }}</h2>
          </div>

          <ul class="unstyled-list ticket-list">

            {{ range .Pages }}

              <li class="ticket-list__item ticket">
                {{ .Render "ticket" }}
              </li>

            {{- end -}}

          </ul>

        </li>

      {{ end }}

    </ul>

  </div>

</section>
