<section class="tickets">
  <h2 class="visually-hide">Tickets Collected</h2>

  <ol class="unstyled-list">
    {{ range (where .Site.RegularPages "Type" "in" (slice
    "tickets")).GroupByDate "2006" }}

    <li class="tickets__ticket-row">
      <div class="tickets__year">
        <h2>{{ .Key }}</h2>
      </div>

      <ol class="unstyled-list ticket-list">
        {{ range .Pages }}

        <li class="ticket-list__item ticket">{{ .Render "ticket" }}</li>

        {{- end -}}
      </ol>
    </li>

    {{ end }}
  </ol>
</section>
